.main{
    background-color: #05092E;
    
}

.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
}

.profile{
    display: flex;
}
@media (max-width: 768px){
    .main{
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .container{
        height: 98vh;
    }
    .name{
        font-size: 2rem
    }
    .img{
       width: 100%;
    }
    .profile{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-family: Roboto,serif;
    }
}