.main{
    background-color: #05092E;
    padding-top: 2rem;
}

.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto
}
.img{
    width: 20rem;
    border-radius: 50%;
    margin: 2rem;
}

.profile{
    display: flex;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.midia{
    line-height: 3rem;
}
.name{
    font-size: 2.8rem
}
.contact{
    font-size: 2.3rem
}

.link{
    color: green
}

.about{
    background-color: var(--white);
    color: black;
    text-align: center;
    width: 90%;
    margin-right:auto;
    margin-left: auto;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem
}

.sobre{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text{
    text-align: start;
    font-size: 1.2rem;
    width: 90%;
    margin: auto
}

@media (max-width: 820px){
    .name{
        font-size: 2.4rem
    }
    .contact{
        font-size: 2rem
    }
}

@media (max-width: 768px){
    .main{
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: center;
    }
    .container{
        margin-top: 0;
    }
    .midia{
        line-height: 3rem;
    }
    .name{
        font-size: 2.8rem
    }
    .contact{
        font-size: 2.3rem
    }
    .img{
        width: 18rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 0;
    }
    .profile{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
    }
    
}
@media(max-width:425px){
    .midia{
        line-height: 2rem;
    }
    .name{
        font-size: 1.8rem
    }
    .contact{
        font-size: 1.3rem
    }
    .img{
        width: 18rem;
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }
    .sobre{
        font-size: 1rem;
    }
    
    .text{
        font-size: 0.8rem;
        width: 90%;
        margin: auto
    }
    .about{
        border-radius: 20px;
    }
}

