.main{
    background-color: #05092E;
    padding-top: 2rem;
}

.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding-bottom: 1rem;
}
.img{
    width: 20rem;
    border-radius: 50%;
    margin: 2rem;
}

.profile{
    display: flex;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.midia{
    line-height: 3rem;
}
.name{
    font-size: 2.8rem
}
.contact{
    font-size: 2.3rem
}

.link{
    color: green;
    transition: 0.2s
}

.link:hover{
    color: rgb(228, 148, 0)
}

.section{
    background-color: var(--white);
    color: black;
    text-align: center;
    width: 90%;
    margin-right:auto;
    margin-left: auto;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem
}

.sobre{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text{
    text-align: start;
    font-size: 1.2rem;
    width: 90%;
    margin: auto
}

.tecnology{
    font-size: 2rem;
    margin: 0.5rem;
}

.language{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    align-items: flex-start;
}

.center{
    display: flex;
    align-items: center;
}

.languageCode{
    margin: auto;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
}


.code{
    background-color: lightgray;
    width: 80%;
    margin: auto;
    margin-top: 1rem
}
.languageName{
    display:flex;
    justify-content: flex-end;
}

.containerLanguage{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 20px;
    flex-direction: column;
    cursor: pointer;
}

.html{
    background-color: #DFA98B;
    border: 1px solid#CD6125;
}

.css{
    background-color: #A6F4FF;
    border: 1px solid#00B5B5;
    
}

.js{
    background-color: #FBFF4B;
    border: 1px solid#AAAD01;
}

.lgn{
    font-size: 1.3rem
}

.image{
    width: 5rem;
}

.coding{
    font-size: 1rem;
    font-family: monospace;
}

@media (max-width: 820px){
    .name{
        font-size: 2.4rem
    }
    .contact{
        font-size: 2rem
    }
}

@media (max-width: 768px){
    .main{
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: center;
    }
    .container{
        margin-top: 0;
    }
    .midia{
        line-height: 3rem;
    }
    .name{
        font-size: 2.8rem
    }
    .contact{
        font-size: 2.3rem
    }
    .img{
        width: 18rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 0;
    }
    .profile{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .coding{
        font-size: 1.2rem;
        max-width: 90%;
    }
    .containerLanguage{
        padding-right: .5rem;
        padding-left: .5rem;
        max-width: 100%;
    }
    .image{
        width: 3rem;
    }
    .lgn{
        font-size: 1.4rem
    }
    .code{
        background-color: lightgray;
        width: 85%;
        margin: auto;
        margin-top: 1rem
    }
    .languageName{
        display:flex;
        justify-content: flex-end;
        font-size: 1rem;
    }
    
}
@media(max-width:425px){
    .midia{
        line-height: 2rem;
    }
    .name{
        font-size: 1.8rem
    }
    .contact{
        font-size: 1.3rem
    }
    .img{
        width: 18rem;
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }
    .sobre{
        font-size: 1rem;
    }
    
    .text{
        font-size: 0.8rem;
        width: 90%;
        margin: auto
    }
    .about{
        border-radius: 20px;
    }
    .tecnology{
        font-size: 1.2rem
    }
    
    .language{
        font-size: 1rem
    }
    .image{
        width: 1.5rem;
    }
    .lgn{
        font-size: .8rem
    }
    .coding{
        font-size: .9rem;
        max-width: 90%;
    }
    .languageCode{
        padding-left: 0;
    }
}

