.main{
    background-color: #05092E;
    padding-top: 2rem;
}

.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding-bottom: 1rem;
}
.img{
    width: 20rem;
    border-radius: 50%;
    margin: 2rem;
}

.profile{
    display: flex;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.midia{
    line-height: 3rem;
}
.name{
    font-size: 2.8rem
}
.contact{
    font-size: 2.3rem
}

.link{
    color: green;
    transition: 0.2s
}

.link:hover{
    color: rgb(228, 148, 0)
}

.section{
    background-color: var(--white);
    color: black;
    text-align: center;
    width: 90%;
    margin-right:auto;
    margin-left: auto;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem
}

.sobre{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text{
    text-align: start;
    font-size: 1.2rem;
    width: 90%;
    margin: auto
}

.title{
    font-size: 2rem;
    margin: 0.5rem;
}

.subtitle{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.center{
    display: flex;
    align-items: center;
}

.languageCode{
    margin: auto;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: left;
    padding-left: 1rem;
}


.code{
    background-color: lightgray;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.languageName{
    display:flex;
    justify-content: flex-end;
}

.containerLanguage{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 20px;
    flex-direction: column;
    cursor: pointer;
    transition: .3s;
    
}

.containerLanguage:hover{
    transform: translateX(-5px) translateY(-5px);
    box-shadow: 1px 1px black;
}

.html{
    background-color: #DFA98B;
    border: 1px solid#CD6125;
}

.css{
    background-color: #A6F4FF;
    border: 1px solid#00B5B5;
}

.js{
    background-color: #FBFF4B;
    border: 1px solid#AAAD01;
}

.csharp{
    background-color: #8DDA99;
    border: 1px solid#208C31;
}

.left{
    margin-left: 1rem;
}

.sql{
    background-color: #71AAFF;
    border: 1px solid#0066FF;
}

.php{
    background-color: #9A9EFF;
    border: 1px solid#434BFC; 
}

.python{
    background-color: #CEE8A4;
    border: 1px solid#7A9B1D; 
}

.react{
    background-color: #93D6FC;
    border: 1px solid#0BA7FF; 
}

.native{
    background-color: #B8FFFF;
    border: 1px solid#0BFFFF; 
}

.asp{
    background-color: #C2FFBD;
    border: 1px solid#14FF00; 
}

.bootstrap{
    background-color: #D1A4FE;
    border: 1px solid#850BFF; 
}

.jquery{
    background-color: #8FAFFF;
    border: 1px solid#0B4FFF; 
}

.lgn{
    font-size: 1.3rem
}

.image{
    width: 5rem;
}

.coding{
    font-size: 1rem;
    font-family: monospace;
}

.school{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 90%;
    margin: auto;
}

.data{
    font-size: 1.2rem;
}

.item{
    background-color: #ACBCC1; 
    width: 10rem;
    margin: auto;
    border-radius: 1rem;
    transition: .3s;
    margin-top: 1rem;
}

.item:hover{
    transform: translateX(-5px) translateY(-5px);
    
}

.itemImage{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.carousel{
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.project{
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem; 
}


@media (max-width: 820px){
    .name{
        font-size: 2.4rem
    }
    .contact{
        font-size: 2rem
    }
}

@media (max-width: 768px){
    .main{
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: center;
    }
    .container{
        margin-top: 0;
    }
    .midia{
        line-height: 3rem;
    }
    .name{
        font-size: 2.8rem
    }
    .contact{
        font-size: 2.3rem
    }
    .img{
        width: 18rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 0;
    }
    .profile{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .coding{
        font-size: 1.2rem;
        max-width: 90%;
    }
    .containerLanguage{
        padding-right: .5rem;
        padding-left: .5rem;
        max-width: 100%;
    }
    .image{
        width: 3rem;
    }
    .lgn{
        font-size: 1.4rem
    }
    .code{
        background-color: lightgray;
        width: 85%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .languageName{
        display:flex;
        justify-content: flex-end;
        font-size: 1rem;
    }

    .left{
        margin-left: .5rem;
    }
    
}
@media(max-width:425px){
    .midia{
        line-height: 2rem;
    }
    .name{
        font-size: 1.8rem
    }
    .contact{
        font-size: 1.3rem
    }
    .img{
        width: 18rem;
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }
    .sobre{
        font-size: 1rem;
    }
    
    .text{
        font-size: 0.8rem;
        width: 90%;
        margin: auto
    }
    .about{
        border-radius: 20px;
    }
    .title{
        font-size: 1.2rem
    }
    
    .subtitle{
        font-size: 1rem
    }
    .image{
        width: 1.5rem;
    }
    .lgn{
        font-size: .8rem
    }
    .coding{
        font-size: .7rem;
        max-width: 90%;
    }
    .languageCode{
        padding-left: 0;
    }
    .data{
        font-size: .8rem;
    }
}

