.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding-bottom: 1rem;
   
}

.description{
    display:flex;
}

.install{
    background-color: green;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 20px;
    width: 12rem;
    margin-left: 6rem;
    text-align: center;
    transition: .3s;
}

.install:hover{
    background-color: rgb(0, 179, 0);
}

.image{
    width: 20rem;
    height: 20rem;
    border-radius: 50px;
    margin:2rem;
    transition: .3s;
}

.title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.lista{
    margin-left: 1rem;
}

.space{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h3{
    margin-bottom: 1rem;
}

.line{
    background-color: white;
    width: 95%;
    height: 1px;
    margin: auto;
    margin-top: 2rem;
}

.imagens{
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.img{
    width: 10rem;
    border: .3rem solid #c4c4c4;
    border-radius: 20px
}

.carousel{
    width: 90%;
    margin:auto;
    background-color: white;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media(max-width:768px){
    .install{
        padding: 2rem;
        font-size: 3rem;
    }
}
@media(max-width:660px){
    .image{
        width: 15rem;
        height: 15rem;
    }
    .install{
        padding: 2rem;
        font-size: 3rem;
        margin-left: 3rem;
    }
}
@media(max-width:575px){
    .image{
        width: 50%;
        height: 50%;
        margin: 1rem;
        margin-right: 0;
    }
    .description{
        flex-direction: column;
    }
    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .install{
        margin-left: 1rem;
        padding: 1rem;
        font-size: 2rem;
        width: 50%;
    }
    .detail{
        font-size: .8rem;
        margin-left: .5rem;
    }
}