.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding-bottom: 1rem;
    display:flex;
}

.image{
    width: 20rem;
    height: 20rem;
    border-radius: 50px;
    margin:2rem;
}

.title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.lista{
    margin-left: 1rem;
}

.space{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h3{
    margin-bottom: 1rem;
}
