.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding-bottom: 1rem;
   
}

.description{
    display:flex;
}

.install{
    background-color: green;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    width: 10rem;
    margin-left: 7rem;
    text-align: center;
}

.image{
    width: 20rem;
    height: 20rem;
    border-radius: 50px;
    margin:2rem;
}

.title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.lista{
    margin-left: 1rem;
}

.space{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.h3{
    margin-bottom: 1rem;
}

.line{
    background-color: white;
    width: 95%;
    height: 1px;
    margin: auto;
    margin-top: 2rem;
}

.imagens{
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.img{
    width: 10rem;
    border: .3rem solid #c4c4c4;
    border-radius: 20px
}

.carousel{
    width: 90%;
    margin:auto;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
}