.container{
    background-color: #09115E;
    color: white;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding-bottom: 1rem;
    display:flex;
}

.image{
    width: 15rem;
    border-radius: 50px;
    margin-left: 2rem;
    margin-top: 2rem;
}